<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8 col-lg-offset-4">
            <h2>Blog Entries</h2>
        </div>
    </div>
    <form name="form" role="form" novalidate>
        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">

                <input-text-edit label="Header" name="header"  maxlength="200" required ></input-text-edit>

                <input-text-edit label="Author" name="author"  maxlength="200" required ></input-text-edit>

                <input-text-edit label="State" name="state" select="state.value as state.text for state in states" required ></input-text-edit>

                <div class="form-group">
                    <tags-input ng-model="model.tags" display-property="text" placeholder="Add a tag" add-on-paste="true">
                        <auto-complete source="loadTags($query)" min-length="0"  ></auto-complete>
                    </tags-input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <div class="col-md-4 col-lg-offset-4">
                    <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        Launch Images & Files
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Images & Files</h4>
                            </div>
                            <div class="modal-body">
                                <uib-tabset justified="true" class="well">
                                    <uib-tab heading="Images">
                                        <ul class="gallery gallery1">
                                            <li ng-repeat="imageFolder in imageFolders">
                                                <a ng-click="getImages(imageFolder.path)"  >
                                                    <img ng-src="/appAdmin/assets/img/folder-icon.png" class="img-thumbnail" ng-class="{'img-thumbnailActive': isActive(imageFolder.path,'I')}"> 
                                                </a>
                                                <div style="clear: both"/>
                                                {{imageFolder.filename}}
                                            </li>
                                        </ul>
                                        <hr>
                                        <ul class="gallery gallery1">
                                            <li ng-repeat="image in images">
                                                <a ng-click="openLightboxModal(model.images, $index)">
                                                    <img ng-src="{{image.thumbUrl}}" class="img-thumbnail"> 
                                                </a>
                                                <div style="clear: both"/>
                                                {{image.caption}}
                                            </li>
                                        </ul>
                                    </uib-tab>
                                    <uib-tab heading="Files">
                                        <ul class="gallery gallery1">
                                            <li ng-repeat="fileFolder in fileFolders">
                                                <a ng-click="getFiles(fileFolder.path)">
                                                    <img ng-src="/appAdmin/assets/img/folder-icon.png" class="img-thumbnail" ng-class="{'img-thumbnailActive': isActive(fileFolder.path,'F')}"> 
                                                </a>
                                                <div style="clear: both"/>
                                                {{fileFolder.filename}}
                                            </li>
                                        </ul>
                                        <hr>
                                        <ul class="gallery">
                                            <li ng-repeat="file in model.files">
                                                <a href="https://drive.google.com/uc?export=download&id={{file.path}}">
                                                    <img src="/appAdmin/assets/img/file-icon.png" alt=""/>
                                                </a>
                                                <div style="clear: both"/>
                                                {{file.filename}}.{{file.extension}}
                                            </li>
                                        </ul>
                                    </uib-tab>
                                </uib-tabset>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <uib-tabset justified="true">
                    <uib-tab heading="Short Content">

                        <input-text-edit name="shortContent" editor required></input-text-edit>

                    </uib-tab>
                    <uib-tab heading="Content">

                        <input-text-edit name="content" editor required></input-text-edit>

                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">
                <div class="form-group">
                    <div class="col-md-3" style="padding: 1px">
                        <a ui-sref="blogEntriesList" class="btn btn-default btn-block">Back</a>
                    </div>
                    <div class="col-md-9" style=" padding: 1px">
                        <button class="btn btn-primary btn-block" ng-disabled="form.$invalid" ng-click="save(model)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /#page-wrapper -->