<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8 col-lg-offset-4">
            <h2>Navigation Url</h2>
        </div>
    </div>
    <form name="form" role="form" novalidate>
        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">
                <input-text-edit label="Name" name="name"  readonly ></input-text-edit>
                <input-text-edit label="Value" name="value"  readonly ></input-text-edit>
                <input-text-edit label="Url" name="url"  readonly ></input-text-edit>   
                <input-text-edit label="Icon" name="icon"   readonly ></input-text-edit>
                <input-text-edit label="Order" name="order"  readonly ></input-text-edit>
                <input-text-edit label="State" name="stateName" readonly ></input-text-edit>
                <input-text-edit label="Is Admin" name="isAdmin" checkbox disabled></input-text-edit>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">
                <div class="form-group">
                    <div class="col-md-3" style="padding: 1px">
                        <a ui-sref="navigationUrlList" class="btn btn-default btn-block">Back</a>
                    </div>
                    <div class="col-md-9" style=" padding: 1px">
                        <a ui-sref="navigationUrlEdit({id : model.id})" class="btn btn-primary btn-block">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /#page-wrapper -->