<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8 col-lg-offset-4">
            <h2>Personal Information</h2>
        </div>
    </div>
    <form name="form" role="form" novalidate>
        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">

                <input-text-edit label="Site Name" name="siteName" required></input-text-edit>
                
                <input-text-edit label="First Name" name="firstName" required></input-text-edit>

                <input-text-edit label="Last Name" name="lastName" required></input-text-edit>

                <input-text-edit label="Email" name="email" required email></input-text-edit>

                <input-text-edit label="Country" name="country" required></input-text-edit>

                <input-text-edit label="Phone Number" name="phoneNumber" mask="(51) 9?9999-9999" required></input-text-edit>

                <input-text-edit label="FaceBook" name="faceBook"></input-text-edit>

                <input-text-edit label="Twitter" name="twitter" ></input-text-edit>

                <input-text-edit label="Google+" name="googlePlus" ></input-text-edit>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <uib-tabset justified="true">
                    <uib-tab heading="Description">
                        <input-text-edit name="description" editor required></input-text-edit>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">
                <div class="form-group">
                    <div class="col-md-3" style="padding: 1px">
                        <a ui-sref="personalInformationList" class="btn btn-default btn-block">Back</a>
                    </div>
                    <div class="col-md-9" style=" padding: 1px">
                        <button class="btn btn-primary btn-block" ng-disabled="form.$invalid" ng-click="save(model)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /#page-wrapper -->